<div class="hero-unit">
  <h1 >'Allo, 'Allo!</h1>
  <p>You now have</p>
  <a class="btn down-link"  ng-click="authenticate('google')" style="padding-left: 25px;padding-right: 25px;font-weight: 700;font-size: 15px;height: 32px;background-color: #28a0dc;color: #fff;border: none;border-radius: 3px;margin-bottom:10px">
    <i class="fa fa-github" style="margin-right:3px"></i>Login With Google</a>
  <ul>
      <li ng-repeat="thing in awesomeThings">{{thing}}</li>
  </ul>
  <p>installed.</p>
  <h3>Enjoy coding! - Yeoman</h3>
</div>
